<div class="background"></div>
<div class="container">
  @if (!isAccepted) {
    <div class="question">
      <h1>Will you be my Valentine Hareem? 💖</h1>

      @if (currentGif) {
        <div class="reaction-gif">
          <img [src]="currentGif" alt="reaction" />
        </div>
      }
      
      <div class="buttons">
        <button
          class="yes-btn"
          [style.transform]="'scale(' + yesSize + ')'"
          (click)="onYes()"
        >
          Yes
        </button>
        <button class="no-btn" (click)="onNo()">
          {{ currentNoText }}
        </button>
      </div>
    </div>
  } @else {
    <div class="accepted">
      <h1>I knew it Hareem! 🎉</h1>
      <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnVweW93c3JxdTFpaDZhank0bng4NzVkbHkwbmdobGxhb2ZrbmdlYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MDJ9IbxxvDUQM/giphy.gif" alt="I knew it" class="gif" />
      <h2>I Love You 💖</h2>
    </div>
  }
</div>

<router-outlet />
